<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form action="/login" method="POST">
        <label for="email">Enter the email</label>
        <input type="text" name="email" id="" placeholder="Enter email">
        <br>
        <label for="pssword">Password: </label>
        <input type="password" name="password" id="" placeholder="Enter password">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>